**/data/raw/
**/data/processed/
**/*.csv
**/*.npy
**/*.pkl

**/outputs/
**/submission.csv
**/*.log
**/*.pth
**/*.joblib

**/__pycache__/
**/venv/
**/.idea/
**/.vscode/
**/*.ipynb_checkpoints/
**/.DS_Store
**/*.swp

**/docker/build/
**/.dockerignore

!**/src/
!**/config/params.yaml
!**/requirements.txt
!**/Dockerfile
!**/notebooks/*.ipynb
!shared/